@CHARSET "UTF-8";

body {
    background: rgb(255,255,255);
    text-align:left;
    background: url('img/background.png');
    background-repeat: repeat-y;
    padding:0px;
    margin:0px;
    color: #555555;
}

#phmlabslogo{
    float:right;
    margin-top:-75px;
}

#statistics {
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

pre {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
    #font-size: 11px;
    line-height: 20px;
}

#installation{
    float:right;
    margin-top:-75px;
    background: url('img/de/installLiveTest.png');
    background-repeat: repeat-y;
    width:207px;
    height:59px;
}

#mainColumn{
    float:left;
    width:600px;
}

#rightColumn{
    float:right;
    width:220px;
    margin-left:30px;
    position:relative;
}

#wrap{
    width:980px;
    margin:0;
    padding:75px 0px 0px 0px;
}

.menu {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align:left;
    font-size:16pt;
    margin:75px 0 15px 0px;
    padding:0;
    width:980px;
}

.menu::after {
content: " 0020";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.menu li {
    float:left;
    margin-right:42px;
}

.menu li a {
    display: block;
    padding: 0;
    line-height: 25px;
    border-bottom: 2px solid white;
}

.menu li a:hover, .menu li a.selected {
    background: white;
    color:#fe4000;
    text-decoration: none;
}

.menu li a.selected, .menu li a:active {
    border-bottom: 2px solid #fe4000;
}

.submenu {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align:left;
    font-size:10pt;
    margin-top:10px;
    padding:0;
    width:auto;
    height:30px;
    background: url('img/backgroundcodebox.png');
    background-repeat:repeat-x repeat-y;
}

.submenu li {
    float:left;
    margin:6px 1px 0 1px;
    border-right: 2px solid #555555;
    padding:0 5px 0 5px;
}

.submenu li a {
    display: block;
    padding: 0px;
    line-height: 15px;
    width:auto;
    border-bottom: 2px solid #edeeee;
}

.submenu li:last-child {
  border-right: 1px solid #edeeee;
}

.submenu li a:hover, .submenu li a.selected {
    background: #edeeee;
}

#project_sub {
    margin-left:0px;
}

#documentation_sub {
    margin-left:150px;
}

#extensions_sub {
    margin-left:335px;
}

#blog_sub {
    margin-left:515px;
}

#comments {
    padding-top: 40px;
    padding-bottom: 40px;
}

#dsq-footer {
   display: none;
   color: white;
}

.dsq-brlink{
   display: none;
}

.content {
    margin-left:130px;
    font-size:10pt;
    line-height: 26px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.logo {
    background: url('img/logo.png');
    background-repeat: no-repeat;
    height:106px;
}

li {
    list-style: none;
    list-style-position:outside;
}

#mainColumn a {
 color: #FE4000;
 #color: #555555;
 #color: #759E1A;
 #text-decoration: underline;
 font-style: italic;
 #font-weight: bold;
 #color: #0088CC;
}

#mainColumn li {
 list-style: disc; 
}

a {
    color: #000;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight:lighter;
    color: #555555;
    font-size:30pt;

}

a h2 {
	color: #555555;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight:lighter;
    font-size:18pt;
    padding:20px 0 0 0;
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight:lighter;
    font-size:14pt
}


.headline {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight:lighter;
}

.headline.headline1{
    color: #000;
    font-size:30pt;
}

.headline.headline2{
    font-size:24pt;
    font-style: italic;
    padding:60px 0 0 0;
}

.headline.headline2.headline3{
    font-size:18pt;
}

.starsign {
    background: url('img/star.png');
    background-repeat:no-repeat;
    height:40px;
    width:40px;
    float:left;
    margin-top:35px;
}

.box {
  font-size:13pt;
}

.box.star {
    font-style: italic;
    margin: 65px 0 0 60px;
}

.box::after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.rounded
{
  -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
  padding:10px;
}

.box.code {
    font-family: "Times New Roman", Times, serif;
    background: url('img/backgroundcodebox.png');
    background-repeat:repeat-x repeat-y;
    margin: 75px 0 75px 0;

}

.mail{
  color:#fe4000;
}

.boxright{
  background: url('img/backgroundcodebox.png');
  background-repeat:repeat-x repeat-y;
}

.right.headline.headline3{
    font-style: normal;
    padding:0 0 5px 0;
}

.headline4{
	font-size:16px;
	font-weight:bold;
    padding:10px;
}

.contentlist{
   margin-left: 0px;
   padding-left: 20px;
   padding-bottom: 20px;
}

.contentlist a {
  color:  #555555;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}


.contentlist > li{
    padding-bottom:0px;
    font-weight:normal;
    
}

.border{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 3px solid #CCCCCC;
}

.boximages{
    width:220px;
    padding:0;
    margin:0;
}

.boximages > li {
      float:left;
}

.boximages::after{
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#footer {
	clear:both;
    margin-top: 75px;
    margin-bottom: 10px;
    margin-left:130px;
    width:980px;
    height:20px;
    background: url('img/backgroundcodebox.png');
    background-repeat:repeat-x repeat-y;
}

.level2 {
  font-size: 14px;
  margin: 0 20px 0 0;
}

.level3 {
  font-size: 13px;
  margin: 20px 40px 50px 0;
}
