<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule ^(.*).html$ /index.php?page=$1
#RewriteRule ^(.*)/(.*).html$ /index.php?page=$1|$2
#RewriteRule ^(.*)/(.*)/(.*).html$ /index.php?page=$1|$2|$3

#RedirectPermanent livetest/api/statistics.php http://livetest.phmlabs.com/api/statistics.php

</IfModule>
